.searchBox {
    width:100vw;
    height: 100vh;
    max-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211,211,211);
}

.searchBox >input[type="text"]{
    border:none;
    box-shadow: 0 0 5px rgba(0,0,0,0.274);
    background-color: #fff;
    color: rgba(0,0,0,0.634);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius:0%;
    box-sizing: border-box;
    height: 8%;
    font: 300 1.1vmax cursive;
}
.searchBox > input[type="submit"] {
    height:8%;
    border-radius:0%;
    border: none;
    background-color: tomato;
    padding: 1vmax;
    color: #fff;
    width: 10%;
    font: 300 1.2vmax "Roboto";
    transition: all 0.5s;
}

.searchBox> input[type="submit"]:hover{
    background-color: rgb(223, 77, 52);
}